<div class="container">
  <div class="rules" (click)="toggleRules()">❔</div>
  <div class="rule-box" *ngIf="showRules">
    <div class="box">
      Bei diesem Spiel geht es darum, dass alle Spieler, sich schnell eine Assoziation zu einem Wort
      überlegen und diese dann nennen müssen. <br>
      Von allen Spielern kennt einer-<i>das Chamäleon</i>-das entsprechende Wort nicht und muss versuchen unerkannt zu bleiben. <br>
      Ziel der Spieler ist es, das Chamäleon zu finden. <br>
      Ziel des Chamäleons ist es natürlich, nicht entdeckt zu werden.
    </div>
  </div>

  <h1>Chamäleon-Spiel</h1>

  <img src="assets/chamaeleon.webp" alt="chamaeleon-bild">
</div>
