<ng-container *ngIf="service.activeGame != null">

  <div *ngIf="service.activeGame.state === 'waiting'">

    <h4>Warten auf Mitspieler</h4>

    <p>Link zum teilen: {{generateJoinLink()}}</p>

    <button
      *ngIf="service.activeGame.master === service.playerName"
      (click)="service.newRound()"
    >
      Spiel starten
    </button>

  </div>

  <div *ngIf="service.activeGame.state === 'guessing'">

    <h3 *ngIf="service.activeGame.chameleon !== service.playerName">{{service.activeGame.word}}</h3>
    <h3 *ngIf="service.activeGame.chameleon === service.playerName">Du bist das Chamäleon!</h3>

    <button
      *ngIf="service.activeGame.master === service.playerName"
      (click)="service.newRound()"
    >
      Neue Runde
    </button>

  </div>

</ng-container>
