<main>

  <ng-container *ngIf="service.activeGame != null">

    <div *ngIf="service.activeGame.state === 'waiting'" class="waiting">

      <p>
        Warten auf Mitspieler
      </p>
      <div class="hourglass">⌛</div>

      <p>Freunde einladen:</p>
      <h3 class="link">{{generateJoinLink()}}</h3>

      <app-button
        *ngIf="service.activeGame.master === service.playerName"
        (click)="service.newRound()"
      >
        Spiel starten
      </app-button>

    </div>

    <div *ngIf="service.activeGame.state === 'guessing'" class="playing">

      <h3
        *ngIf="service.activeGame.chameleon !== service.playerName"
        class="word"
      >
        {{service.activeGame.word.toLocaleUpperCase()}}
      </h3>

      <div class="chameleon" *ngIf="service.activeGame.chameleon === service.playerName">
        <img src="assets/chamaeleon2.webp" alt="Bild von Chamäleon">
        <h3>Du bist das Chamäleon!</h3>
      </div>

      <app-button
        *ngIf="service.activeGame.master === service.playerName"
        (click)="service.newRound()"
      >
        Neue Runde
      </app-button>

    </div>

  </ng-container>

</main>
